.timer {
    font-family: Cabin Sketch, sans-serif;
    display: inline-block;
    padding: 20px 20px;
    border-radius: 10px;
    background: white;
}

.timer__part {
    font-size: 8px;
    font-weight: bold;
}

.timer__btn {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #519bc9;
    cursor: pointer;
}

.timer__btn--start {
    background: #4cb176;
}

.timer__btn--stop {
    background: #b86983;
}

.timer__btn--pomodoro {
    font-size: 8px;
}

.timerDescription {
    font-family: Cabin Sketch, sans-serif;
    font-size: 12px;
}
