.timer {
    font-family: Cabin Sketch, sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: white;
}

.timer__part {
    font-size: 30px;
    font-weight: bold;
}

.timer__btn {
    width: 75px;
    height: 75px;
    margin: 10px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #519bc9;
    cursor: pointer;
}

.timer__btn--start {
    background: #4cb176;
}

.timer__btn--stop {
    background: #b86983;
}

.pomodoro {
    font-family: Cabin Sketch, sans-serif;
    font-size: 10px;
}

.timerDescription {
    font-family: Cabin Sketch, sans-serif;
    font-size: 16px;
}
